@model DiveProfile

@*<div id="@string.Format("chartContainer{0}", Model.Index)" style="width: 40%; height: 300px;display: inline-block;"></div>*@
	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" >
		<p class="text-center">@Model.DiveDate</p>
		<div id="@string.Format("chartContainer{0}", Model.Index)" style="height: 300px;display: inline-block;">
		</div>
	</div>
<script type="text/javascript">

		var cnsData = [];
		var depthData = [];
		var ppO2Data = [];

		@foreach(var dp in Model.Datapoints.OrderBy(x => x.X))
		{
			@:depthData.push({x: parseFloat("@dp.TimeMin"), y: parseFloat("@dp.Y")});
			@:cnsData.push({ x: parseFloat("@dp.TimeMin"), y: parseFloat("@dp.CNS") });
			@:ppO2Data.push({ x: parseFloat("@dp.TimeMin"), y: parseFloat("@dp.AveragePPO2") });
		}


		//for (var i = 0; i < cnsData.length; i++) {
		//	console.log(cnsData[i]);
		//}

		var chart = new CanvasJS.Chart("@string.Format("chartContainer{0}", Model.Index)", {
			animationEnabled: true,
			axisY: {
				reversed: true,
				title: "Depth (m)"
			},
			axisY2: [{
				title: "CNS %",
				lineColor: "#C24642",
				titleFontColor: "#C24642",
				labelFontColor: "#C24642"
			},
			{
				title: "ppO2",
				lineColor: "#A6CE39",
				titleFontColor: "#A6CE39",
				labelFontColor: "#A6CE39"
			}],
			axisX: {
				title: "Time (min)"
			},
			toolTip: {
				shared: true,
			},
			legend: {
				fontSize: 13
			},
			data: [{
					type: "area",
					markerSize: 0,
					color: "rgba(54,158,173,.6)",
					dataPoints: depthData,
					name: "Depth (m)",
					toolTipContent: "<span style='\"'color: {color};'\"'>{name}</span>, <strong>{y}</strong>"
				},
				{
					axisYType: "secondary",
					type: "line",
					dataPoints: cnsData,
					name: "CNS %",
					toolTipContent: "<span style='\"'color: {color};'\"'>{name}</span>, <strong>{y}</strong>"
				},
				{
					axisYIndex: 1,
					axisYType: "secondary",
					type: "line",
					dataPoints: ppO2Data,
					name: "pp02",
					toolTipContent: "<span style='\"'color: {color};'\"'>{name}</span>, <strong>{y}</strong>"
				}]
		});

		chart.render();
</script>